<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="1" />
		<property name="maxPoolSize" value="1" />
		<property name="queueCapacity" value="25" />
	</bean>

	<bean id="scheduleResource" class="com.tweetgeister.resources.ScheduleResource">
		<property name="taskExecutor" ref="taskExecutor" />
		<property name="config" ref="freemarkerConfig" />
		<property name="base" value="${tweetgeister.base}" />
		<property name="outDir" value="${tweetgeister.dir}" />
	</bean>

    <!-- Scan entire project stack for spring annotations -->
    <context:component-scan base-package="com.tweetgeister" />

	<bean id="freemarkerViewProcessor" class="com.tweetgeister.web.framework.FreemarkerViewProcessor" scope="singleton" />

	<!-- freemarker config -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/freemarker/" />
	</bean>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="searchSystemEnvironment" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:env/default.properties</value>
            </list>
        </property>
    </bean>

</beans>